*.o
*~
DEADJOE
core
config_auto.h
jbig2
jbig2-big
jbig2-small1
jbig2-small2
jbig2-small3
jbig2-small4
jbig2.exe
jbig2.static
jbig2.xstatic
jbig2.xstatic.uncompressed
pts2.jbig2.dynamic
pts2.jbig2.mingw
pts2.jbig2.orig
pts2.png
noneed.sh
noneed.out
